
@model Reservation

<h3>Reservation Data</h3>

<table class="table">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Price</th>
        <th>Seat Number</th>
    </tr>
	 <tr>
		<td>@Model.ID</td>
		<td>@Model.FirstName</td>
		<td>@Model.LastName</td>
		<td>@Model.Price</td>
		<td>@Model.SeatNumber</td>
	 </tr>
</table>

@*<form asp-controller="Reservation" asp-action="Delete method="post">
	<label></label>
	<input />
</form>*@